{
  "log-driver": "{{ docker_daemon_config['log-driver'] }}",
  "log-opts": {{ docker_daemon_config['log-opts'] | to_nice_json }},
  "storage-driver": "{{ docker_daemon_config['storage-driver'] }}",
  "default-ulimits": {{ docker_daemon_config['default-ulimits'] | to_nice_json }}
}
