---
- name: Start Seq container
  community.docker.docker_container:
    name: "{{ seq_container_name }}"
    image: "{{ seq_image }}"
    state: started
    recreate: true
    restart_policy: "{{ seq_restart_policy }}"
    env:
      ACCEPT_EULA: "{{ 'Y' if seq_accept_eula else 'N' }}"
      SEQ_FIRSTRUN_NOAUTHENTICATION: "{{ 'true' if seq_first_run_no_auth else 'false' }}"
    volumes:
      - seq_data:/data
    networks:
      - name: "{{ seq_network }}"
    memory: "{{ seq_memory_limit | default(omit, true) }}"
    memory_reservation: "{{ seq_memory_reservation | default(omit, true) }}"
    cpus: "{{ seq_cpus | default(omit, true) }}"
  when: seq_enabled
  tags: seq
