---
- name: restart ssh
  ansible.builtin.systemd:
    name: ssh
    state: restarted

- name: restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted

- name: restart cron
  ansible.builtin.systemd:
    name: cron
    state: restarted

- name: fix ssh key permissions
  ansible.builtin.file:
    path: "{{ vps_app_user_home }}/.ssh/authorized_keys"
    owner: "{{ vps_app_user }}"
    group: "{{ vps_app_group }}"
    mode: '0600'
